.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/airplane.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/alarm-clock.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/alien.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/american-football.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/angry-face.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/angry-face-with-horns.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/anguished-face.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/automobile.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/avocado.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/baby.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/baby-bottle.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/backhand-index-pointing-right.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/bacon.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/balloon.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/banana.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/baseball.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/basketball.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/beaming-face-with-smiling-eyes.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/beer-mug.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/bicycle.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/birthday-cake.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/blue-book.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/bomb.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/bone.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/bottle-with-popping-cork.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/camera.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/cat-face.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/cat-with-tears-of-joy.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/cherries.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/cherry-blossom.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/christmas-tree.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/clapping-hands.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/cloud.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/clown-face.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/coconut.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/cold-face.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/collision.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/confused-face.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/cookie.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/cowboy-hat-face.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/cow-face.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/crescent-moon.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/crossed-fingers.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/crown.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/crying-cat.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/crying-face.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/cupcake.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/cup-with-straw.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/cut-of-meat.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/deciduous-tree.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/desktop-computer.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/dizzy-face.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/dog-face.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/doughnut.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/downcast-face-with-sweat.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/drooling-face.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/eggplant.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/exploding-head.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/expressionless-face.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/eyes.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/face-blowing-a-kiss.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/face-savoring-food.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/face-screaming-in-fear.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/face-vomiting.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/face-with-hand-over-mouth.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/face-with-head-bandage.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/face-with-medical-mask.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/face-with-monocle.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/face-with-raised-eyebrow.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/face-with-rolling-eyes.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/face-with-steam-from-nose.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/face-with-symbols-on-mouth.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/face-with-tears-of-joy.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/face-with-thermometer.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/fearful-face.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/fire.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/fish.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/flexed-biceps.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/flushed-face.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/folded-hands.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/footprints.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/frog.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/gem-stone.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/ghost.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/grimacing-face.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/grinning-cat.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/grinning-face.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/grinning-face-with-big-eyes.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/grinning-squinting-face.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/hamburger.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/hibiscus.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/hot-beverage.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/hot-dog.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/hot-face.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/hot-pepper.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/house.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/hugging-face.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/hushed-face.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/ice-cream.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/jack-o-lantern.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/key.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/kissing-face-with-closed-eyes.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/laptop-computer.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/lemon.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/light-bulb.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/lollipop.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/loudly-crying-face.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/love-you-gesture.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/lying-face.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/magnet.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/mobile-phone.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/money-bag.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/money-mouth-face.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/money-with-wings.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/monkey-face.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/mouse-face.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/nauseated-face.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/nerd-face.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/ok-hand.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/pancakes.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/panda.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/partying-face.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/party-popper.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/peach.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/pencil.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/pensive-face.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/persevering-face.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/pie.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/pig-face.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/pile-of-poo.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/pineapple.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/pizza.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/pleading-face.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/pool-8-ball.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/poultry-leg.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/rabbit-face.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/rainbow.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/raised-back-of-hand.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/raising-hands.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/red-apple.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/red-heart.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/relieved-face.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/robot.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/rolling-on-the-floor-laughing.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/rose.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/sad-but-relieved-face.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/sandwich.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/shaved-ice.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/shushing-face.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/skull-and-crossbones.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/sleeping-face.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/slightly-frowning-face.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/slightly-smiling-face.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/sloth.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/smiling-cat-with-heart-eyes.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/smiling-face.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/smiling-face-with-halo.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/smiling-face-with-heart-eyes.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/smiling-face-with-hearts.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/smiling-face-with-horns.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/smiling-face-with-smiling-eyes.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/smiling-face-with-sunglasses.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/smirking-face.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/sneezing-face.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/snowman-without-snow.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/soccer-ball.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/soft-ice-cream.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/spouting-whale.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/squinting-face-with-tongue.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/star-struck.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/strawberry.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/sun.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/sunglasses.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/sushi.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/sweat-droplets.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/taco.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/tangerine.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/teddy-bear.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/television.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/thinking-face.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/thumbs-down.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/thumbs-up.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/tired-face.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/tropical-drink.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/tulip.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/tumbler-glass.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/unamused-face.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/unicorn.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/upside-down-face.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/victory-hand.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/watermelon.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/weary-face.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/wine-glass.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/winking-face.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/woozy-face.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/worried-face.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/wrapped-gift.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/yawning-face.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/zany-face.png");}
.jpa-flat-rel-{background-image:url("flatmoji/assets/1.0/png/labeled/128/zipper-mouth-face.png");}
