.jpa-anim-rel-airplane{background-image:url("animations/assets/1.0/png/labeled/128/airplane");}
.jpa-anim-rel-alarm_clock{background-image:url("animations/assets/1.0/png/labeled/128/alarm_clock");}
.jpa-anim-rel-alien{background-image:url("animations/assets/1.0/png/labeled/128/alien");}
.jpa-anim-rel-automobile{background-image:url("animations/assets/1.0/png/labeled/128/automobile");}
.jpa-anim-rel-backhand_index_pointing_down{background-image:url("animations/assets/1.0/png/labeled/128/backhand_index_pointing_down");}
.jpa-anim-rel-backhand_index_pointing_left{background-image:url("animations/assets/1.0/png/labeled/128/backhand_index_pointing_left");}
.jpa-anim-rel-backhand_index_pointing_right{background-image:url("animations/assets/1.0/png/labeled/128/backhand_index_pointing_right");}
.jpa-anim-rel-backhand_index_pointing_up{background-image:url("animations/assets/1.0/png/labeled/128/backhand_index_pointing_up");}
.jpa-anim-rel-beaming_face_with_smiling_eyes{background-image:url("animations/assets/1.0/png/labeled/128/beaming_face_with_smiling_eyes");}
.jpa-anim-rel-birthday_cake{background-image:url("animations/assets/1.0/png/labeled/128/birthday_cake");}
.jpa-anim-rel-bomb{background-image:url("animations/assets/1.0/png/labeled/128/bomb");}
.jpa-anim-rel-bottle_with_popping_cork{background-image:url("animations/assets/1.0/png/labeled/128/bottle_with_popping_cork");}
.jpa-anim-rel-bowling{background-image:url("animations/assets/1.0/png/labeled/128/bowling");}
.jpa-anim-rel-broken_heart{background-image:url("animations/assets/1.0/png/labeled/128/broken_heart");}
.jpa-anim-rel-butterfly{background-image:url("animations/assets/1.0/png/labeled/128/butterfly");}
.jpa-anim-rel-camera_with_flash{background-image:url("animations/assets/1.0/png/labeled/128/camera_with_flash");}
.jpa-anim-rel-cat_with_tears_of_joy{background-image:url("animations/assets/1.0/png/labeled/128/cat_with_tears_of_joy");}
.jpa-anim-rel-check_mark_button{background-image:url("animations/assets/1.0/png/labeled/128/check_mark_button");}
.jpa-anim-rel-christmas_tree{background-image:url("animations/assets/1.0/png/labeled/128/christmas_tree");}
.jpa-anim-rel-clapper_board{background-image:url("animations/assets/1.0/png/labeled/128/clapper_board");}
.jpa-anim-rel-clapping_hands{background-image:url("animations/assets/1.0/png/labeled/128/clapping_hands");}
.jpa-anim-rel-clinking_beer_mugs{background-image:url("animations/assets/1.0/png/labeled/128/clinking_beer_mugs");}
.jpa-anim-rel-clinking_glasses{background-image:url("animations/assets/1.0/png/labeled/128/clinking_glasses");}
.jpa-anim-rel-clock{background-image:url("animations/assets/1.0/png/labeled/128/clock");}
.jpa-anim-rel-cold_face{background-image:url("animations/assets/1.0/png/labeled/128/cold_face");}
.jpa-anim-rel-collision{background-image:url("animations/assets/1.0/png/labeled/128/collision");}
.jpa-anim-rel-confetti_ball{background-image:url("animations/assets/1.0/png/labeled/128/confetti_ball");}
.jpa-anim-rel-cow_face{background-image:url("animations/assets/1.0/png/labeled/128/cow_face");}
.jpa-anim-rel-cowboy_hat_face{background-image:url("animations/assets/1.0/png/labeled/128/cowboy_hat_face");}
.jpa-anim-rel-crossed_fingers{background-image:url("animations/assets/1.0/png/labeled/128/crossed_fingers");}
.jpa-anim-rel-crown{background-image:url("animations/assets/1.0/png/labeled/128/crown");}
.jpa-anim-rel-crying_face{background-image:url("animations/assets/1.0/png/labeled/128/crying_face");}
.jpa-anim-rel-desert_island{background-image:url("animations/assets/1.0/png/labeled/128/desert_island");}
.jpa-anim-rel-direct_hit{background-image:url("animations/assets/1.0/png/labeled/128/direct_hit");}
.jpa-anim-rel-dizzy_face{background-image:url("animations/assets/1.0/png/labeled/128/dizzy_face");}
.jpa-anim-rel-dog_face{background-image:url("animations/assets/1.0/png/labeled/128/dog_face");}
.jpa-anim-rel-drooling_face{background-image:url("animations/assets/1.0/png/labeled/128/drooling_face");}
.jpa-anim-rel-drum{background-image:url("animations/assets/1.0/png/labeled/128/drum");}
.jpa-anim-rel-exploding_head{background-image:url("animations/assets/1.0/png/labeled/128/exploding_head");}
.jpa-anim-rel-eyes{background-image:url("animations/assets/1.0/png/labeled/128/eyes");}
.jpa-anim-rel-face_blowing_a_kiss{background-image:url("animations/assets/1.0/png/labeled/128/face_blowing_a_kiss");}
.jpa-anim-rel-face_screaming_in_fear{background-image:url("animations/assets/1.0/png/labeled/128/face_screaming_in_fear");}
.jpa-anim-rel-face_vomiting{background-image:url("animations/assets/1.0/png/labeled/128/face_vomiting");}
.jpa-anim-rel-face_with_head_bandage{background-image:url("animations/assets/1.0/png/labeled/128/face_with_head_bandage");}
.jpa-anim-rel-face_with_monocle{background-image:url("animations/assets/1.0/png/labeled/128/face_with_monocle");}
.jpa-anim-rel-face_with_rolling_eyes{background-image:url("animations/assets/1.0/png/labeled/128/face_with_rolling_eyes");}
.jpa-anim-rel-face_with_steam_from_nose{background-image:url("animations/assets/1.0/png/labeled/128/face_with_steam_from_nose");}
.jpa-anim-rel-face_with_symbols_on_mouth{background-image:url("animations/assets/1.0/png/labeled/128/face_with_symbols_on_mouth");}
.jpa-anim-rel-face_with_tears_of_joy{background-image:url("animations/assets/1.0/png/labeled/128/face_with_tears_of_joy");}
.jpa-anim-rel-face_with_thermometer{background-image:url("animations/assets/1.0/png/labeled/128/face_with_thermometer");}
.jpa-anim-rel-fairy{background-image:url("animations/assets/1.0/png/labeled/128/fairy");}
.jpa-anim-rel-ferris_wheel{background-image:url("animations/assets/1.0/png/labeled/128/ferris_wheel");}
.jpa-anim-rel-fire{background-image:url("animations/assets/1.0/png/labeled/128/fire");}
.jpa-anim-rel-fire_engine{background-image:url("animations/assets/1.0/png/labeled/128/fire_engine");}
.jpa-anim-rel-fireworks{background-image:url("animations/assets/1.0/png/labeled/128/fireworks");}
.jpa-anim-rel-fish{background-image:url("animations/assets/1.0/png/labeled/128/fish");}
.jpa-anim-rel-fishing_pole{background-image:url("animations/assets/1.0/png/labeled/128/fishing_pole");}
.jpa-anim-rel-flag_in_hole{background-image:url("animations/assets/1.0/png/labeled/128/flag_in_hole");}
.jpa-anim-rel-flexed_biceps{background-image:url("animations/assets/1.0/png/labeled/128/flexed_biceps");}
.jpa-anim-rel-flushed_face{background-image:url("animations/assets/1.0/png/labeled/128/flushed_face");}
.jpa-anim-rel-flying_saucer{background-image:url("animations/assets/1.0/png/labeled/128/flying_saucer");}
.jpa-anim-rel-frog{background-image:url("animations/assets/1.0/png/labeled/128/frog");}
.jpa-anim-rel-frowning_face{background-image:url("animations/assets/1.0/png/labeled/128/frowning_face");}
.jpa-anim-rel-ghost{background-image:url("animations/assets/1.0/png/labeled/128/ghost");}
.jpa-anim-rel-globe{background-image:url("animations/assets/1.0/png/labeled/128/globe");}
.jpa-anim-rel-grinning_face_with_smiling_eyes{background-image:url("animations/assets/1.0/png/labeled/128/grinning_face_with_smiling_eyes");}
.jpa-anim-rel-grinning_squinting_face{background-image:url("animations/assets/1.0/png/labeled/128/grinning_squinting_face");}
.jpa-anim-rel-growing_heart{background-image:url("animations/assets/1.0/png/labeled/128/growing_heart");}
.jpa-anim-rel-hamburger{background-image:url("animations/assets/1.0/png/labeled/128/hamburger");}
.jpa-anim-rel-handshake{background-image:url("animations/assets/1.0/png/labeled/128/handshake");}
.jpa-anim-rel-hear_no_evil_monkey{background-image:url("animations/assets/1.0/png/labeled/128/hear_no_evil_monkey");}
.jpa-anim-rel-heart_with_arrow{background-image:url("animations/assets/1.0/png/labeled/128/heart_with_arrow");}
.jpa-anim-rel-helicopter{background-image:url("animations/assets/1.0/png/labeled/128/helicopter");}
.jpa-anim-rel-honeybee{background-image:url("animations/assets/1.0/png/labeled/128/honeybee");}
.jpa-anim-rel-horse{background-image:url("animations/assets/1.0/png/labeled/128/horse");}
.jpa-anim-rel-hot_beverage{background-image:url("animations/assets/1.0/png/labeled/128/hot_beverage");}
.jpa-anim-rel-hot_face{background-image:url("animations/assets/1.0/png/labeled/128/hot_face");}
.jpa-anim-rel-hugging_face{background-image:url("animations/assets/1.0/png/labeled/128/hugging_face");}
.jpa-anim-rel-hundred_points{background-image:url("animations/assets/1.0/png/labeled/128/hundred_points");}
.jpa-anim-rel-hushed_face{background-image:url("animations/assets/1.0/png/labeled/128/hushed_face");}
.jpa-anim-rel-jack_o_lantern{background-image:url("animations/assets/1.0/png/labeled/128/jack_o_lantern");}
.jpa-anim-rel-kangaroo{background-image:url("animations/assets/1.0/png/labeled/128/kangaroo");}
.jpa-anim-rel-kiss_mark{background-image:url("animations/assets/1.0/png/labeled/128/kiss_mark");}
.jpa-anim-rel-light_bulb{background-image:url("animations/assets/1.0/png/labeled/128/light_bulb");}
.jpa-anim-rel-locomotive{background-image:url("animations/assets/1.0/png/labeled/128/locomotive");}
.jpa-anim-rel-loudly_crying_face{background-image:url("animations/assets/1.0/png/labeled/128/loudly_crying_face");}
.jpa-anim-rel-love_you_gesture{background-image:url("animations/assets/1.0/png/labeled/128/love_you_gesture");}
.jpa-anim-rel-lying_face{background-image:url("animations/assets/1.0/png/labeled/128/lying_face");}
.jpa-anim-rel-man_biking{background-image:url("animations/assets/1.0/png/labeled/128/man_biking");}
.jpa-anim-rel-man_dancing{background-image:url("animations/assets/1.0/png/labeled/128/man_dancing");}
.jpa-anim-rel-man_facepalming{background-image:url("animations/assets/1.0/png/labeled/128/man_facepalming");}
.jpa-anim-rel-man_fairy{background-image:url("animations/assets/1.0/png/labeled/128/man_fairy");}
.jpa-anim-rel-man_juggling{background-image:url("animations/assets/1.0/png/labeled/128/man_juggling");}
.jpa-anim-rel-man_raising_hand{background-image:url("animations/assets/1.0/png/labeled/128/man_raising_hand");}
.jpa-anim-rel-man_running{background-image:url("animations/assets/1.0/png/labeled/128/man_running");}
.jpa-anim-rel-man_shrugging{background-image:url("animations/assets/1.0/png/labeled/128/man_shrugging");}
.jpa-anim-rel-man_tipping_hand{background-image:url("animations/assets/1.0/png/labeled/128/man_tipping_hand");}
.jpa-anim-rel-man_zombie{background-image:url("animations/assets/1.0/png/labeled/128/man_zombie");}
.jpa-anim-rel-men_with_bunny_ears{background-image:url("animations/assets/1.0/png/labeled/128/men_with_bunny_ears");}
.jpa-anim-rel-middle_finger{background-image:url("animations/assets/1.0/png/labeled/128/middle_finger");}
.jpa-anim-rel-money_mouth_face{background-image:url("animations/assets/1.0/png/labeled/128/money_mouth_face");}
.jpa-anim-rel-money_with_wings{background-image:url("animations/assets/1.0/png/labeled/128/money_with_wings");}
.jpa-anim-rel-musical_notes{background-image:url("animations/assets/1.0/png/labeled/128/musical_notes");}
.jpa-anim-rel-nerd_face{background-image:url("animations/assets/1.0/png/labeled/128/nerd_face");}
.jpa-anim-rel-oncoming_fist{background-image:url("animations/assets/1.0/png/labeled/128/oncoming_fist");}
.jpa-anim-rel-oncoming_police_car{background-image:url("animations/assets/1.0/png/labeled/128/oncoming_police_car");}
.jpa-anim-rel-owl{background-image:url("animations/assets/1.0/png/labeled/128/owl");}
.jpa-anim-rel-pancakes{background-image:url("animations/assets/1.0/png/labeled/128/pancakes");}
.jpa-anim-rel-party_popper{background-image:url("animations/assets/1.0/png/labeled/128/party_popper");}
.jpa-anim-rel-partying_face{background-image:url("animations/assets/1.0/png/labeled/128/partying_face");}
.jpa-anim-rel-peace_symbol{background-image:url("animations/assets/1.0/png/labeled/128/peace_symbol");}
.jpa-anim-rel-penguin{background-image:url("animations/assets/1.0/png/labeled/128/penguin");}
.jpa-anim-rel-people_with_bunny_ears{background-image:url("animations/assets/1.0/png/labeled/128/people_with_bunny_ears");}
.jpa-anim-rel-person_biking{background-image:url("animations/assets/1.0/png/labeled/128/person_biking");}
.jpa-anim-rel-person_facepalming{background-image:url("animations/assets/1.0/png/labeled/128/person_facepalming");}
.jpa-anim-rel-person_juggling{background-image:url("animations/assets/1.0/png/labeled/128/person_juggling");}
.jpa-anim-rel-person_raising_hand{background-image:url("animations/assets/1.0/png/labeled/128/person_raising_hand");}
.jpa-anim-rel-person_running{background-image:url("animations/assets/1.0/png/labeled/128/person_running");}
.jpa-anim-rel-person_shrugging{background-image:url("animations/assets/1.0/png/labeled/128/person_shrugging");}
.jpa-anim-rel-person_tipping_hand{background-image:url("animations/assets/1.0/png/labeled/128/person_tipping_hand");}
.jpa-anim-rel-pig_face{background-image:url("animations/assets/1.0/png/labeled/128/pig_face");}
.jpa-anim-rel-pile_of_poo{background-image:url("animations/assets/1.0/png/labeled/128/pile_of_poo");}
.jpa-anim-rel-pistol{background-image:url("animations/assets/1.0/png/labeled/128/pistol");}
.jpa-anim-rel-pleading_face{background-image:url("animations/assets/1.0/png/labeled/128/pleading_face");}
.jpa-anim-rel-police_car_light{background-image:url("animations/assets/1.0/png/labeled/128/police_car_light");}
.jpa-anim-rel-popcorn{background-image:url("animations/assets/1.0/png/labeled/128/popcorn");}
.jpa-anim-rel-pouting_face{background-image:url("animations/assets/1.0/png/labeled/128/pouting_face");}
.jpa-anim-rel-prohibited{background-image:url("animations/assets/1.0/png/labeled/128/prohibited");}
.jpa-anim-rel-rabbit_face{background-image:url("animations/assets/1.0/png/labeled/128/rabbit_face");}
.jpa-anim-rel-rainbow_flag{background-image:url("animations/assets/1.0/png/labeled/128/rainbow_flag");}
.jpa-anim-rel-raising_hands{background-image:url("animations/assets/1.0/png/labeled/128/raising_hands");}
.jpa-anim-rel-relieved_face{background-image:url("animations/assets/1.0/png/labeled/128/relieved_face");}
.jpa-anim-rel-revolving_hearts{background-image:url("animations/assets/1.0/png/labeled/128/revolving_hearts");}
.jpa-anim-rel-ring{background-image:url("animations/assets/1.0/png/labeled/128/ring");}
.jpa-anim-rel-robot{background-image:url("animations/assets/1.0/png/labeled/128/robot");}
.jpa-anim-rel-rocket{background-image:url("animations/assets/1.0/png/labeled/128/rocket");}
.jpa-anim-rel-roller_coaster{background-image:url("animations/assets/1.0/png/labeled/128/roller_coaster");}
.jpa-anim-rel-rolling_on_the_floor_laughing{background-image:url("animations/assets/1.0/png/labeled/128/rolling_on_the_floor_laughing");}
.jpa-anim-rel-rooster{background-image:url("animations/assets/1.0/png/labeled/128/rooster");}
.jpa-anim-rel-sandwich{background-image:url("animations/assets/1.0/png/labeled/128/sandwich");}
.jpa-anim-rel-santa_claus{background-image:url("animations/assets/1.0/png/labeled/128/santa_claus");}
.jpa-anim-rel-see_no_evil_monkey{background-image:url("animations/assets/1.0/png/labeled/128/see_no_evil_monkey");}
.jpa-anim-rel-shushing_face{background-image:url("animations/assets/1.0/png/labeled/128/shushing_face");}
.jpa-anim-rel-sleeping_face{background-image:url("animations/assets/1.0/png/labeled/128/sleeping_face");}
.jpa-anim-rel-slot_machine{background-image:url("animations/assets/1.0/png/labeled/128/slot_machine");}
.jpa-anim-rel-sloth{background-image:url("animations/assets/1.0/png/labeled/128/sloth");}
.jpa-anim-rel-smiling_face{background-image:url("animations/assets/1.0/png/labeled/128/smiling_face");}
.jpa-anim-rel-smiling_face_with_halo{background-image:url("animations/assets/1.0/png/labeled/128/smiling_face_with_halo");}
.jpa-anim-rel-smiling_face_with_heart_eyes{background-image:url("animations/assets/1.0/png/labeled/128/smiling_face_with_heart_eyes");}
.jpa-anim-rel-smiling_face_with_hearts{background-image:url("animations/assets/1.0/png/labeled/128/smiling_face_with_hearts");}
.jpa-anim-rel-smiling_face_with_horns{background-image:url("animations/assets/1.0/png/labeled/128/smiling_face_with_horns");}
.jpa-anim-rel-smiling_face_with_sunglasses{background-image:url("animations/assets/1.0/png/labeled/128/smiling_face_with_sunglasses");}
.jpa-anim-rel-smirking_face{background-image:url("animations/assets/1.0/png/labeled/128/smirking_face");}
.jpa-anim-rel-snake{background-image:url("animations/assets/1.0/png/labeled/128/snake");}
.jpa-anim-rel-sneezing_face{background-image:url("animations/assets/1.0/png/labeled/128/sneezing_face");}
.jpa-anim-rel-snowman{background-image:url("animations/assets/1.0/png/labeled/128/snowman");}
.jpa-anim-rel-soccer_ball{background-image:url("animations/assets/1.0/png/labeled/128/soccer_ball");}
.jpa-anim-rel-sparkles{background-image:url("animations/assets/1.0/png/labeled/128/sparkles");}
.jpa-anim-rel-sparkling_heart{background-image:url("animations/assets/1.0/png/labeled/128/sparkling_heart");}
.jpa-anim-rel-speak_no_evil_monkey{background-image:url("animations/assets/1.0/png/labeled/128/speak_no_evil_monkey");}
.jpa-anim-rel-sport_utility_vehicle{background-image:url("animations/assets/1.0/png/labeled/128/sport_utility_vehicle");}
.jpa-anim-rel-spouting_whale{background-image:url("animations/assets/1.0/png/labeled/128/spouting_whale");}
.jpa-anim-rel-star_struck{background-image:url("animations/assets/1.0/png/labeled/128/star_struck");}
.jpa-anim-rel-sun{background-image:url("animations/assets/1.0/png/labeled/128/sun");}
.jpa-anim-rel-sunrise{background-image:url("animations/assets/1.0/png/labeled/128/sunrise");}
.jpa-anim-rel-teddy_bear{background-image:url("animations/assets/1.0/png/labeled/128/teddy_bear");}
.jpa-anim-rel-thinking_face{background-image:url("animations/assets/1.0/png/labeled/128/thinking_face");}
.jpa-anim-rel-thought_balloon{background-image:url("animations/assets/1.0/png/labeled/128/thought_balloon");}
.jpa-anim-rel-thumbs_down{background-image:url("animations/assets/1.0/png/labeled/128/thumbs_down");}
.jpa-anim-rel-thumbs_up{background-image:url("animations/assets/1.0/png/labeled/128/thumbs_up");}
.jpa-anim-rel-tornado{background-image:url("animations/assets/1.0/png/labeled/128/tornado");}
.jpa-anim-rel-trophy{background-image:url("animations/assets/1.0/png/labeled/128/trophy");}
.jpa-anim-rel-umbrella_with_rain_drops{background-image:url("animations/assets/1.0/png/labeled/128/umbrella_with_rain_drops");}
.jpa-anim-rel-unamused_face{background-image:url("animations/assets/1.0/png/labeled/128/unamused_face");}
.jpa-anim-rel-unicorn{background-image:url("animations/assets/1.0/png/labeled/128/unicorn");}
.jpa-anim-rel-upside_down_face{background-image:url("animations/assets/1.0/png/labeled/128/upside_down_face");}
.jpa-anim-rel-violin{background-image:url("animations/assets/1.0/png/labeled/128/violin");}
.jpa-anim-rel-volcano{background-image:url("animations/assets/1.0/png/labeled/128/volcano");}
.jpa-anim-rel-warning{background-image:url("animations/assets/1.0/png/labeled/128/warning");}
.jpa-anim-rel-waving_hand{background-image:url("animations/assets/1.0/png/labeled/128/waving_hand");}
.jpa-anim-rel-weary_face{background-image:url("animations/assets/1.0/png/labeled/128/weary_face");}
.jpa-anim-rel-winking_face{background-image:url("animations/assets/1.0/png/labeled/128/winking_face");}
.jpa-anim-rel-winking_face_with_tongue{background-image:url("animations/assets/1.0/png/labeled/128/winking_face_with_tongue");}
.jpa-anim-rel-woman_biking{background-image:url("animations/assets/1.0/png/labeled/128/woman_biking");}
.jpa-anim-rel-woman_dancing{background-image:url("animations/assets/1.0/png/labeled/128/woman_dancing");}
.jpa-anim-rel-woman_facepalming{background-image:url("animations/assets/1.0/png/labeled/128/woman_facepalming");}
.jpa-anim-rel-woman_fairy{background-image:url("animations/assets/1.0/png/labeled/128/woman_fairy");}
.jpa-anim-rel-woman_juggling{background-image:url("animations/assets/1.0/png/labeled/128/woman_juggling");}
.jpa-anim-rel-woman_raising_hand{background-image:url("animations/assets/1.0/png/labeled/128/woman_raising_hand");}
.jpa-anim-rel-woman_running{background-image:url("animations/assets/1.0/png/labeled/128/woman_running");}
.jpa-anim-rel-woman_shrugging{background-image:url("animations/assets/1.0/png/labeled/128/woman_shrugging");}
.jpa-anim-rel-woman_tipping_hand{background-image:url("animations/assets/1.0/png/labeled/128/woman_tipping_hand");}
.jpa-anim-rel-woman_zombie{background-image:url("animations/assets/1.0/png/labeled/128/woman_zombie");}
.jpa-anim-rel-women_with_bunny_ears{background-image:url("animations/assets/1.0/png/labeled/128/women_with_bunny_ears");}
.jpa-anim-rel-woozy_face{background-image:url("animations/assets/1.0/png/labeled/128/woozy_face");}
.jpa-anim-rel-writing_hand{background-image:url("animations/assets/1.0/png/labeled/128/writing_hand");}
.jpa-anim-rel-yawning_face{background-image:url("animations/assets/1.0/png/labeled/128/yawning_face");}
.jpa-anim-rel-zany_face{background-image:url("animations/assets/1.0/png/labeled/128/zany_face");}
.jpa-anim-rel-zipper_mouth_face{background-image:url("animations/assets/1.0/png/labeled/128/zipper_mouth_face");}
.jpa-anim-rel-zombie{background-image:url("animations/assets/1.0/png/labeled/128/zombie");}

